@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,500);

@media screen {

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4em;
  background-color: #fefefe;  
  font-size: 1rem;
}

.jumbotron {
padding-top:6em;
padding-bottom:4em;
margin-bottom: 4em;
}

.navbar {
  text-transform:all;
}

.navbar-brand {
  font-size:1.3em;
  line-height: 2.4em;
}

.nogrid {
max-width: 45em;
}

.abstract {
  text-align: justify;
  line-height: 1.6em;
  font-size: .9em
}

.talk-poster {
  margin-bottom: 2em;
  box-shadow: 3px 3px 5px grey;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 700;
  margin: 1.5em 0 .75em 0;
  font-size: 1.8em;  
}

h1.title {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 700;
  color:#fefefe;
  font-size: 4em;
  margin-top: 0.2em;
}

p.title-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color:#eeeeee;
  line-height: 1.4em;
}

h1.homeheading {
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  color:#333333;
  font-size: 2em;
  margin-top: 0em;
  margin-bottom: .5em;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 120%;
  margin: 0em 0 .8em 0;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color:#666;
  font-size: 1.2em;
  margin: 0 0 1em 0;
}

h4 {
  color:#bbb;
  font-size:1.2em;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

.nav {
font-size:120%;
font-variant: small-caps;
}

.jumbotron h3 {
  color:#eee;
  font-weight: 500;
}

.home-bar {
  margin-bottom: 4em;
}

.row-talk {
 margin: 3em 0 3em 0;
 border-bottom: 1px solid #ccc;
 min-height: 8em;
}

.highlight {
  color: #3c8b94;
}

footer {
  margin-top:2em;
  padding: 2em;
  background-color: #823b3b;
  color:#ccc;
  text-align: center; 
}

a {
  color: #e10000;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


li {
margin-bottom:.4em;  
}

li ul li {
  color:#666666;
  list-style: none;
  margin-bottom:1em;
}


.section-photo-break {
height: 500px;
background-attachment: fixed;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
border-bottom: 0;
}

.photo1 {
background-image: url(/images/digital-mapping-sm/Mexico-1700s-the.jpg);
}

.photo2 {
background-image: url(/images/digital-mapping-sm/txu-pclmaps-topo-nm-albuquerque-1937.jpg);
}

.photo3 {
background-image: url(/images/digital-mapping-sm/5840059.jpg);
}

.photo4 {
background-image: url(/images/digital-mapping-sm/dsc_0052.jpg);
}

.photo5 {
  background-image: url(/images/digital-mapping-sm/1071012.jpg);
}

.photo6 {
  background-image: url(/images/digital-mapping-sm/Mexico-1700s-the.jpg);
}


} /* end media screen */


/*****************************************************************************/
/*
/* SMALL SCREEN
/*
/*****************************************************************************/
@media (max-width: 768px) 
{
  body {
    font-size: .8rem;
  }
}


/*****************************************************************************/
/*
/* PRINTING
/*
/*****************************************************************************/

@media print {


  @page {margin: 2.5cm;}

  body {
    font-weight: normal;
    font-family: times;
    padding:0;
    margin: 0;
  }

.container {
  margin:0;
}

  .site {
    width:35em;
    margin:0;
    padding:0;
   }

#syllabus-new {
  font-size: 90%;
}

#syllabus-new h1 {
  font-size: 130%;
}

  nav {
    display:none;
  }

  .footer {
    display:none;
  }

p, div, ul, li {
    font-weight: normal;
}

div p {
  font-weight: normal;
}


ul li {
  font-family: times;
  font-weight: normal;
  font-weight: normal;
  font-size:100%;
}

h2 {
  clear:both;
}

h3 {
  font-weight: normal;
}

.photo1, .photo2, .photo3, .photo4, .photo5 {
  height:0px;
  display:none;
}

hr {
  clear:both;
}
  .page-break { display: block; page-break-before: always; }
}

