@import url(http://fonts.googleapis.com/css?family=Barlow:200,400,600,900);
@import url(http://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:200,400,600,800);
@import url(http://fonts.googleapis.com/css?family=Barlow+Condensed:200,400,600,900);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,900);
@import url(http://fonts.googleapis.com/css?family=Bowlby+One);
@import url(http://fonts.googleapis.com/css?family=Cabin:200,400,600);

@media screen {

/* Move down content because we have a fixed navbar text- is 50px tall */
html {
  font-size:14px;
}

body {
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4em;
  background-color: #fefefe;
  font-size: 1rem;
}

.month, .time, .place {
  font-family: 'Barlow';
  font-size: calc( 1rem + 36 * ((100vw - 500px) / 1500));
  line-height: calc( 1rem + 36 * ((100vw - 500px) / 1500));
  font-size: 1.2rem;
  line-height: 1.2rem;
  color:#333;
  font-weight:400;
  text-transform:uppercase;
}

.month {
  font-size:1.5rem;
  font-weight:400;
  font-family: 'Barlow Condensed';
  margin-bottom:0;
}

.time, .place {
  margin: 0rem 0 .1rem 0;
  font-family: 'Barlow Semi Condensed';
  font-family: 'Barlow Condensed';
  color:#555;
}

.place {
  margin: 0em 0 0em 0;
}

.day, h2.person {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: calc( 2.2rem + 60 * ((100vw - 500px) / 1500));
  line-height: calc( 2.2rem + 60 * ((100vw - 500px) / 1500));
  font-weight:600;
  margin: 0rem 0 .8rem 0;
}

.day {
}

h2.person {
}



.text-lg-right {
  text-align:right;
  border-right:3px solid #444;
}

.talk-desc {
  margin-left:1rem;
}

.jumbotron {
padding-top:4em;
padding-bottom:4em;
margin-bottom: 0em;
text-align:center;
}

.jumbotron.narrow {
  padding-top:1em;
  padding-bottom:1em;
  font-size:1em;
}

.brown {
  background-color: #673d36;
  background-color:#ed7d4c;
}

.navbar {
}

.navbar, .navbar-brand {
  font-size:1.5rem;
  font-family: 'Barlow Semi Condensed';
  text-transform:uppercase;
  margin-bottom:0;
}

.row-talk {
 margin-top: 3em;
 margin-bottom: 3em;
 padding-bottom:1rem;
 border-bottom: 5px solid #ccc;
 min-height: 8em;
}

.row-talk:first-of-type {
  margin-top:0;
}

.previous-talks {
  font-size:.9rem;
  padding-bottom:2rem;
  border-bottom:5px solid #ccc;
}

.navbar-nav>li>a {
  line-height:2rem;
}

.nogrid {
max-width: 45em;
}

.talk-poster {
  margin-top: 1em;
  margin-bottom:0;
  box-shadow: 3px 3px 5px grey;
}



p {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Cabin', sans-serif;
  margin-bottom: 1.5em;
  font-size: calc( 1rem + 6 * ((100vw - 500px) / 1500));
  line-height:1.4em;
  font-weight:200;
}


p.abstract {
  text-align: justify;
  color:#333;
}

.next-meeting {
border:4px solid #673d36;
padding:2rem 1rem;
background:#ed7d4c;
background:#fcf3ef;
background:#f6f6f6;
margin-top:0em;
color:#333;
}

.next-meeting p {
  color:#333;
}


a {
  color: #ed7d4c;
}

.next-meeting a {
  color:#c00;
  text-transform:uppercase;
}


h1, h2, h3, h4, h5 {
  font-family: 'Barlow', sans-serif;
}

h1 {
  margin-top:1rem;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 800;
  font-size: 3rem;
}


.jumbotron.main {
background-color:#ed7d4c;
}

.orange {
  color:#ed7d4c;
}

.jumbotron h1{
color:#fff;
font-size: calc(52px + (140 - 52) * ((100vw - 300px) / (1600 - 300)));
text-transform:uppercase;
font-weight:800;
}

.jumbotron h2 {
  color:#673d36;
  color:#555;
  color:#eee;
  font-size: calc(24px + (38 - 24) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 600;
  line-height:130%;
}

.jumbotron h3 {
  font-family: 'Bowlby One', sans-serif;
  font-weight:600;
  color:#eceae5;
  color:#ffffff;
  letter-spacing:.22rem;
  font-size: calc(24px + (84 - 24) * ((100vw - 300px) / (1600 - 300)));
  text-transform:uppercase;
  margin-top: 0em;
  line-height:1.2em;
}


h3.title {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color:#333;
  font-size: 2rem;
  margin: 1rem 0 .5rem 0;
}

h4.subtitle {
  font-weight: 400;
  color:#666;
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}


h4 {
  color:#bbb;
  font-size:1.2em;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
}


.home-bar {
  padding-top:4em;
  padding-bottom: 4em;
  display:flex;
  align-items:center;
  text-align:center;
  border-bottom:.0 solid #8ebcd6;
  color:#fff;
  background-color: #eceae5;
  color:#555;
}

.home-blurb {
}


.text-justify {
}

.highlight {
  color: #3c8b94;
}

footer {
  padding: 2em;
  background-color: #673d36;
  color:#eceae5;
  text-align: center;
}


.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.section-photo-break {
height: 500px;
background-attachment: fixed;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
border-bottom: 0;
}

.photo1 {
background-image: url(/images/digital-mapping-sm/Mexico-1700s-the.jpg);
}

.photo2 {
background-image: url(/images/digital-mapping-sm/txu-pclmaps-topo-nm-albuquerque-1937.jpg);
}

.photo3 {
background-image: url(/images/digital-mapping-sm/5840059.jpg);
}

.photo4 {
background-image: url(/images/digital-mapping-sm/dsc_0052.jpg);
}

.photo5 {
  background-image: url(/images/digital-mapping-sm/1071012.jpg);
}

.photo6 {
  background-image: url(/images/digital-mapping-sm/Mexico-1700s-the.jpg);
}


} /* end media screen */


/*****************************************************************************/
/*
/* MEDIUM SCREEN
/*
/*****************************************************************************/
@media (max-width: 768px)
{
  html {
    font-size: 17px;
  }

}


@media (max-width: 576px)
{
  html {
    font-size: 16px;
  }

h1 {
  font-size:2rem;
}

.row-talk {
  border-left:0px;
  border-right:0px;
  padding-left:0;
  padding-right:0;
}

.text-xs-left {
  border-right:none;
  text-align:left;
}

.talk-desc {
  margin-left:0rem;
}

}


/*****************************************************************************/
/*
/* PRINTING
/*
/*****************************************************************************/

@media print {


  @page {margin: 2.5cm;}

  body {
    font-weight: normal;
    font-family: times;
    padding:0;
    margin: 0;
  }

.container {
  margin:0;
}

  .site {
    width:35em;
    margin:0;
    padding:0;
   }

  nav {
    display:none;
  }

  .footer {
    display:none;
  }

p, div, ul, li {
    font-weight: normal;
}

div p {
  font-weight: normal;
}

ul li {
  font-family: times;
  font-weight: normal;
  font-size:100%;
}

h2 {
  clear:both;
}

h3 {
  font-weight: normal;
}

.photo1, .photo2, .photo3, .photo4, .photo5 {
  height:0px;
  display:none;
}

hr {
  clear:both;
}
  .page-break { display: block; page-break-before: always; }
}
